msi/src/main/app/CustomerAddressCreate.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:magento="http://www.mulesoft.org/schema/mule/magento" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/magento http://www.mulesoft.org/schema/mule/magento/current/mule-magento.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <data-mapper:config name="JSON_To_CustomerAddressEntityCreate" transformationGraphPath="json_to_customeraddressentitycreate.grf" doc:name="JSON_To_CustomerAddressEntityCreate"/>
    <flow name="CustomerAddressCreateFlow1" doc:name="CustomerAddressCreateFlow1">
        <file:inbound-endpoint path="D:\WS_AP_Studio" responseTimeout="10000" doc:name="File"/>
        <data-mapper:transform config-ref="JSON_To_CustomerAddressEntityCreate" doc:name="JSON To CustomerAddressEntityCreate"/>
        <logger message="After : #[message.payload.getCity()], #[message.payload.getFirstname()]" level="INFO" doc:name="Logger"/>
        <magento:create-customer-address config-ref="Magento" customerId="1" doc:name="Magento">
            <magento:customer-address ref="#[payload]"/>
        </magento:create-customer-address>
        <logger message="Compleation: #[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
