msi/src/main/app/GetSFProducts.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:jersey="http://www.mulesoft.org/schema/mule/jersey" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jersey http://www.mulesoft.org/schema/mule/jersey/current/mule-jersey.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <flow name="GetSFProductsMinFlow" doc:name="GetSFProductsMinFlow">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="${http.salesforce.listenPort}" doc:name="HTTP" path="sf"  />
        <logger message="flow called............." level="INFO" doc:name="Logger"/>
        <jersey:resources doc:name="REST">
            <component class="com.ww.msi.service.impl.GetProductsServiceImpl"/>
        </jersey:resources>
    </flow>
    <flow name="GetSFProductSubFlow" doc:name="GetSFProductSubFlow">
        <sfdc:query config-ref="Salesforce" query="dsql:SELECT  Name,ProductCode FROM Product2 " doc:name="Salesforce"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <logger message="payload #[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
