msi/src/main/app/MsiAudit.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <vm:endpoint exchange-pattern="one-way" path="Audit_vm" name="Audit_vm" doc:name="VM"/>
    <db:mysql-config name="MySQL_Configuration" host="localhost" port="3306" user="root" password="root" database="mydb" doc:name="MySQL Configuration"/>
    <flow name="Msi_AuditFlow1" doc:name="Msi_AuditFlow1">
        <vm:inbound-endpoint exchange-pattern="one-way" ref="Audit_vm" doc:name="Audit_vm"/>
        <logger message="VM CALLED" level="INFO" doc:name="Logger"/>
        <logger message="query :insert into msi_audit (requestid, date1, operationtype,userid) values ('#[message.payload.requestid]','#[server.dateTime.format(&quot;yyyy-MM-dd HH:mm:ss&quot;)]','#[message.payload.operationtype]','#[message.payload.userid]')" level="INFO" doc:name="Logger"/>
        <db:insert config-ref="MySQL_Configuration" doc:name="Database">
            <db:dynamic-query><![CDATA[insert into msi_audit (requestid, date1, operationtype,userid) values ('#[message.payload.requestid]',
'#[server.dateTime.format("yyyy-MM-dd HH:mm:ss")]'
                 
,'#[message.payload.operationtype]','#[message.payload.userid]');]]></db:dynamic-query>
        </db:insert>
    </flow>
</mule>
